* {
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-oneSection {
  background-image: url("../../../public/oneSection.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
}
.bg-twoSection {
  background-image: url("../../../public/twoSection.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
}

.bg-threeSection {
  background-image: url("../../../public/threeSection.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 190vh;
}

.bg-fourSection {
  top: 40px;
  left: 10px;
  background-image: url("../../../public/fourSection.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
}

footer {
  background-color: #3b2b20;
  color: #999999;
}

h1 {
  color: aliceblue;
}
